body {
    display: block;
    background: #efefef;
    margin: 0; 
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: auto;
           
}
.app{
    display: flex;
    max-width: 63rem;
    margin: 0 auto;
    background: #fff;
    text-align: center;
    flex-direction: column;
    min-height: 100vh;
}

.input-search{
    max-width: 93.5%; 
    margin: 0 auto;
}

.ant-spin {
    background:white;
    border-radius: 0.4rem;
    margin: 2rem auto;
    padding: 2rem 2rem;
    width: 93%;
  }

.ant-alert {
    padding: 2rem 2rem;
    background:white;
    border-radius: 0.4rem;
    margin: 0 auto;
    padding: 2rem 2rem;
    width: 93%;
  }

.ant-empty{
  margin-top: 2rem;
}