body {
    display: block;
    background: #efefef;
    margin: 0;
}
.app{
    width: 63rem;
    margin: 0 auto;
    background: #fff;
    text-align: center;
}
.pagination{
    padding-bottom: 1rem; 
}
.input-search{
    max-width: 93.5%; 
    margin: 0 auto;
}