.list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: #ffffff;
    }
    
    .movie-list {
      display: block;
      width: 28rem;
      max-height: 17.5rem;
      grid-template-columns: repeat(2,1fr);
      gap: 2rem;
      grid-gap: 2rem;
    }