.rated-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    background: #ffffff;
    margin: 0 auto;
}

.ant-pagination{
    margin: 1rem auto;
}

.ant-row{
    flex-direction: column;
}
